@page "/postlist"

@using BlazorBookGroup.Pages
@using BlazorBookGroup.Services;
@inject PostListService PostListService

<h3>PostList</h3>

<ul>
    @foreach (Post post in posts)
        {
 
            <li class="card">
                <PostPage Post="@post"/>
            </li>
        }
</ul>
<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-post-modal">+</button>
<SubmitPostModal></SubmitPostModal>


@code {
    private IEnumerable<Post> posts;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        posts = PostListService.GetPosts();
    }
}
