

<div class="modal fade center" tabindex="-1" data-dismiss="modal" role="dialog" id="add-post-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h1>sample text</h1>
            <div class="modal-footer">
                <button class="btn btn-primary">Submit</button>
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

}
