@inherits LayoutComponentBase

<PageTitle>BlazorBookGroup</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
        <NavMenu />

    <main>
        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </main>
</div>
